<!DOCTYPE html>
<html>
<head>
  <title>My First App</title>
  <link rel="stylesheet" type="text/css" href="/assets/global.css" />
</head>
<body>
  <%- include('partials/menu.ejs') %>
  <h1><%= maintitle %></h1>
</body>
</html>